nav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

div.con-fixed {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.con-design {
  background-image: linear-gradient(0deg, transparent 9%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.2) 12%, transparent 13%, transparent 29%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 31%, transparent 32%, transparent 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, transparent 52%, transparent 69%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 71%, transparent 72%, transparent 89%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.1) 91%, transparent 92%, transparent), linear-gradient(90deg, transparent 9%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.2) 12%, transparent 13%, transparent 29%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 31%, transparent 32%, transparent 49%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, transparent 52%, transparent 69%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 71%, transparent 72%, transparent 89%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.1) 91%, transparent 92%, transparent);
  height: 100%;
  background-size: 50px 50px;
  padding: 50px;
  overflow: scroll;
  z-index: 0;
}

#design {
  position: absolute;
  left: 0;
  top: 0;
  width: 10000px;
  height: 10000px;
}

.toolbox {
  margin: auto;
  height: 50px;
  max-width: 150px;
  min-width: 150px;
}

.shape {
  width: 200px;
  height: 50px;
  min-width: 200px;
  max-width: 400px;
  z-index: 1;
  position: absolute;
  border: 0px solid;
  pointer-events: auto;
}

svg {
  position: relative;
  top: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  stroke: #4f7df9;
  fill: white;
  stroke-width: 1px;
}

path {
  width: 100%;
  height: auto;
}

.con_anchor {
  width: 10px;
  height: 10px;
  border-radius: 500px;
  background-color: #fff;
  border: 2px solid #4f7df9;
  z-index: 5;
  position: absolute;
  opacity: 0;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

g {
  fill: "none";
  stroke: #4f7df9;
  stroke-width: "2";
}

polyline {
  fill: none;
  /*  stroke:#4f7df9;
    */
}

.ui-resizable-handle {
  background: #fff;
  height: 8px;
  width: 8px;
  border: 1px solid #4f7df9;
  top: 40%;
  right: 1;
}

.hide {
  opacity: 0 !important;
}

.decision .text {
  height: 20px;
  padding-top: 0px;
}

.text {
  position: absolute;
  z-index: 2;
  height: 30px;
  padding-top: 5px;
}

.connect {
  width: 100px;
  height: 100px;
}

nav {
  z-index: 99 !important;
}

.btn-flowdocode {
  border: 1px solid #4f7df9;
  color: #4f7df9;
  background: none;
  box-shadow: none;
}

.btn-flowdocode:active {
  box-shadow: #4f7df9;
}

#con-toolbox {
  overflow-y: hidden !important;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 9;
}

#con-console {
  z-index: 8;
  background: #fff;
}
#con-console #console {
  width: 100%;
  height: 70%;
  position: absolute;
  overflow-y: scroll !important;
}

table {
  position: absolute;
  overflow-y: scroll !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.7);
  border-radius: 5000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Property*/
.header {
  font-weight: bold;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.08);
}

.con-property div, .con-property input {
  border-bottom: 1px solid;
  border-top: 0px;
  border-right: 0px solid;
  border-left: 1px solid;
  border-color: rgba(0, 0, 0, 0.08);
  background: #fff;
}

.hightlight {
  animation-name: hightlight;
  animation-duration: 1.5s;
}

@keyframes hightlight {
  from {
    filter: drop-shadow(0px 0px 0px rgba(39, 174, 9, 0.5));
  }
  to {
    filter: drop-shadow(0px 0px 100px rgba(39, 174, 9, 0));
  }
}
#openfile {
  width: 0.1px;
  opacity: 0;
}

.is-invalid {
  border-width: 2px;
}

/*# sourceMappingURL=main.css.map */
