@font-face{
  font-family: "LuckiestGuy-Regular";
  src:url("../webfonts/LuckiestGuy-Regular.ttf");
}
$borderDark:rgba(0, 0, 0, 0.08);
$primaryColor:#4f7df9;
$inprogressColor:#f1c40f;
$successColor:#27ae60;
$invalidColor:#ff3d50;

html,body{height: 100%;
}body{
  overflow: hidden;
  background: #292c32;
 

}
#con-grid{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#grid{
  #g-grid{
    polyline{
  
      stroke: rgba(119, 133, 135, .5);
      stroke-width: 0.4px;
      }
  }
}
#grid{
  #g-grid{
    .grid-main{
      stroke: rgb(119, 133, 135, 1);
  
      stroke-width: 0.5px;
      }
  }
}

.logo{
  z-index: 5;
  font-family: "LuckiestGuy-Regular" !important ;
  font-size: 1.5em;
  align-self: center;
  letter-spacing: 3px;
  a{
    color:$primaryColor;
  }
  span{
    color:$primaryColor;
  }
  // span{

  //   color:#fff;
  // }
}
.logo:hover{
  a{
    color:$primaryColor;
    text-decoration: none;
  }
  #c{
    transform: rotateZ(90deg);

    animation: eee 0.5s ;
  }

  span{
    color:#fff;
    -webkit-animation: blink 2.0s infinite; 
    animation: blink 2.0s infinite;
  }

}
@keyframes eee {
  from{
    transform: rotateZ(0deg);

  }to{
    transform: rotateZ(90deg);

  }


								
}

@keyframes blink {
	0% {
		color:#fff;
  }
  20%{
    color:$primaryColor;;

  }
  30%{
    color:#fff;

  }
  40%{
    color:$primaryColor;;

  }

	100% {
    color:$primaryColor;;
	}	
								
}
@-webkit-keyframes blink {
	0% {
		color:#fff;
  }
  20%{
    color:$primaryColor;;

  }
  30%{
    color:#fff;

  }
  40%{
    color:$primaryColor;;

  }

	100% {
    color:$primaryColor;;
	}	
								
}

nav{
  background: #2d3035;
  // box-shadow:0px 2px 1px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid $borderDark;
  li{
    z-index: 5;
  }
  .dropdown-menu{
    label{
      width: 100%;
    }
    .dropdown-item:hover{
      background: #33363b;
    }
    color:#fff;
    background: #292c32;
  }
}


div.con-fixed {
    position: fixed;
    overflow-y: scroll;
    overflow-x:hidden;
  }
#version{
  position: fixed;
  bottom:10px;
}
#design-containment{
  padding: 50px;
  padding-bottom: 10px;
}
.con-design{
  
  height:100%;
  left:0px;
  padding: 50px 60px 0px 50px !important;
  
  overflow: scroll;
  z-index: 0;
}
#design{
  position: absolute;
  /*   //  position: absolute;
    // left: 0;
    // top:0; */

   overflow: hidden;
    height: 10000px;
    .connector-description,label{
      position: absolute;
      color:#fff;
    }
}



.toolbox{
      margin:auto;
      height: 50px;
      max-width: 150px;
      min-width: 150px;

     background: none;
  }
 

.shape{
    width: 200px;
    height: 50px;
    min-width: 200px;
    max-width: 600px;
    z-index: 1;
    position: absolute;
    border:0px solid ;
    color:#fff;
    // background: red;
  }

svg{
    position: relative;
    top: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    // stroke: $primaryColor;
    stroke: $primaryColor;
    fill: #24272c;
    stroke-width: 1px;
}
path{
    width: 100%;
    height:auto;

}
#arrowhead{
  fill:$primaryColor !important;
}
.con_anchor {
  width: 10px;
  height: 10px;
  border-radius: 500px;
  background-color: #24272c;
  border: 2px solid $primaryColor;
  z-index: 5;
  position: absolute;
  opacity: 0;
}
.anchor-accept{
  width: 10px;
  height: 10px;
  background-color: $primaryColor;
  box-shadow: 0px 0px 10px 2px #27ae60;



}
#canvas{
  position: absolute;
  left:0;
  top:0;
}
g {
  fill: "none";
  stroke: $primaryColor;
  stroke-width: "2";
}
polyline{
  fill:none;
 /*  stroke:$primaryColor;
   */
}

.ui-resizable-handle{
    background: #24272c;
    
    height: 8px;
    width: 8px;
    border:1px solid $primaryColor;
    top:40%;
    right: 1;

  }



.hide{
  opacity: 0 !important;
}

.text,.text:focus{
    position: absolute;
    z-index:2;
    height: 30px;
    padding-top:5px; 
    outline: none;
    display: inline-block;
    
}

.connect{
  width:100px;
  height:100px;
}
nav{
  z-index: 99 !important;
}
.btn-flowdocode{
  border:1px solid $primaryColor;
  color: $primaryColor;
  background: none;
  box-shadow: none;
}
.btn-flowdocode:hover{
  border:1px solid $primaryColor;
  color: #fff;
  background: $primaryColor;
  box-shadow: none;
}
.btn-flowdocode:active,.btn-flowdocode:focus{
  box-shadow: none;
}
#con-toolbox{
  background: #24272c;
  overflow-y: hidden !important;
  border-right: 3px solid $borderDark;
  // box-shadow:2px 0px 1px rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#con-right{
  top: 0px;
  right: 0px;
  position: fixed;
  background: #24272c;

}
#con-debugger{
  position: absolute;


}
#con-console{
  background: #fff;

  background: #24272c;
  #console{  
    background: #24272c;
    color:#fff;
    width: 100%;
    height: 70%;
    position: absolute;
    overflow-y: scroll !important;
  }
  z-index: 8;
  // box-shadow:0px -2px 1px rgba(0, 0, 0, 0.05);
  // background: #f8f8f8;
}
.table-dark{
  border-color: #1b1e23 !important;
}
.debugger-header{
  
  border-color: #1b1e23 !important;
}
table{
  color:#fff;
  position: absolute;
  overflow-y:scroll !important;
  table-layout: fixed;


  thead{
    border-color: #1b1e23 !important;

    tr{
      border-color: #1b1e23  !important;

    }
    td{
      border-color: #1b1e23  !important;
      
    }

  }
  td{
    word-break: break-all;  
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  
}


/* Track */
::-webkit-scrollbar-track {
  background: #1b1e23; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, .7); 

  border-radius: 5000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #687274; 
}

/*Property*/
.header{
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-top: 3px solid;
  border-bottom:3px solid;
  background: #24272c;
  border-color:  $borderDark;
}

.con-property{
  div,input,select{
    background: #24272c;
    border-bottom:3px solid;
    border-top: 0px;
    border-right:0px solid;
    border-left:3px solid;
    border-color:  $borderDark;
    color:#fff;
    // background: #fafafa;
  }
  select{
    padding: 0 10px;
  }


}
.hightlight{
  animation-name: hightlight;
  animation-duration: 1.5s;
}

@keyframes hightlight {
  from {    filter: drop-shadow(0px 0px 0px rgba(39,174,9,0.5));  
        }
  to {    filter: drop-shadow(0px 0px 100px rgba(39,174,9,0));  }
      }

#openfile{
  width: 0.1px;
opacity: 0;

}
#assignment{
  background: #24272c;
  color:#fff;
  border: 1px solid $primaryColor;

}
.is-invalid{
  
  border-width:2px;
}
#pagination{
  background: #2d3035;
  border-bottom:3px solid $borderDark;
  display: inline-flex;
  overflow-y: hidden;
  div{
    color:#fff;
    background:#2d3035;
    border: 1px solid $primaryColor;
    max-width: 150px !important;
 
    flex-grow: 3;
    border-radius: 0px;
    margin: 0px !important;
    padding: 0;
    padding-left:5px;
    overflow: hidden;
    flex-wrap: nowrap;
    display: inline-flex;
    // justify-content: space-between;
    .page-text,.page-text:hover{
      position: relative;
      max-width: 80% !important;
      overflow:hidden ;
      text-overflow: hidden;
      white-space: nowrap;
      display: inline-flex;
      align-self: center;
      background: transparent;
      border: none;

    }
    .close{
      align-self: center;
      font-size: 0.9em;
      background: none;
      border:none !important;
      min-width: 15px!important;
      max-width: 15px !important;
        opacity: 1;
    }
    svg{
      margin: 0 !important;
    }
  }
  div:hover{
    background: $primaryColor;
    color:#fff;
  }
  div.active{
    background: $primaryColor;
    color:#fff;
    font-weight: bold;
    flex-shrink: 0;
    min-width: 100px;
  }
  .page-name{
    background: none;
  }
 
  .page-edit{
    background: #fff !important;
    flex-grow: 0  !important;
    flex-shrink: 0 !important;
    width: auto !important;
    max-width: 100% !important;
    .page-text{
      margin: 0px 10px !important;
      color:#1b1e23 !important;
      width: auto !important;
      max-width: 100% !important;
    }
    .close{
      opacity: 0;
    }
  }
}
.invalid{
  svg{
    stroke: $invalidColor !important;

  }
  .con_anchor{
    border-color: $invalidColor;
  }
  .ui-resizable-handle{
    border-color: $invalidColor;

  }
}
.modal-content{
  background: #24272C;
  color:#fff;
  
  input,input:active,input:focus{
    background: #24272C;
    color:#fff;
    border:3px solid #212429 ;
    box-shadow: none;
  }
  input:focus{
    border:3px solid $primaryColor ;

  }
  .input_invalid{
    border:3px solid $invalidColor !important;
  
  }
}
.modal-header{
  border-bottom:3px solid #212429 !important;

}
.modal-footer{
  border-top:3px solid #212429 !important;

}

.textHighLight{
  color:#4f7df9;
 
  font-weight: bold;
}
.btn-node-tool{
  padding:3px!important;
 
}
.btn-node-tool:hover{
  svg{
    fill: #fff;
  }
}

.node-tool{
  width: 30px;
  height: 30px;
  fill: $primaryColor;
}
.container-node-tool{
  position: absolute;
  width:auto;
}
.btn-next-node,.btn-next-node:focus,.btn-next-node:active{
  background: transparent;
  border:none;
  box-shadow:none;
  color:$primaryColor;
}
ul {
  list-style-type: none;
}

.modal-lg {
  max-width: 80%;

}

.modal-dialog,
.modal-content-guide {
    height: 90%;
}
.sidebar{
  height: 100%;
  overflow-y: scroll;
  li{
    border-top: 2px solid $borderDark;
  }
  li:hover{
    background: #292c32;
  }
  .active{
    background: $primaryColor;
    color:#fff;
  }
}

.modal-body{

  overflow: hidden;
  
}
.guide-content {
    height: 100%;
    overflow-y: scroll;
    background: rgba(41,45,50,1);
    
}
.con-img{
  text-align: center;
}
.modal-close,.modal-close:hover{
  color:#fff !important;
}
.btn-guide{
  border-width: 2px;
  border-radius: 500px;
  border-color:#fff;
  color:#fff;
}
.btn-guide:hover,.btn-guide:focus,.btn-guide:active{
  color:$primaryColor;
  border-color: $primaryColor;
  box-shadow: none;
  background: none;
}
.guide-header{
  font-weight: bold;
  font-size: 1.3em;
}
img{
  align-self: center;
}
.nosupport{
  position: fixed;
  top:0;
  z-index: 999999999;
  background: #fff;
  text-align: center;
  justify-items:center;
  padding: 20%;
  font-size: 3em;
  width: 100%;
  height: 100%;
  font-weight: bold;
}