$border:rgba(0, 0, 0, 0.08);
$primaryColor:#4f7df9;
$secondColor:#f2f2f2;
$inprogressColor:#f1c40f;
$successColor:#27ae60;
$invalidColor:#ff3d50;
body{
    background: #fff;
    background-image:linear-gradient(0deg, transparent 9%, 
  rgba(150, 150, 150, .6) 10%, rgba(150, 150, 150, .6) 12%, transparent 13%, transparent 29%, 
  rgba(150, 150, 150, .1) 30%, rgba(150, 150, 150, .1) 31%, transparent 32%, transparent 49%, 
  rgba(150, 150, 150, .1) 50%, rgba(150, 150, 150, .1) 51%, transparent 52%, transparent 69%, 
  rgba(150, 150, 150, .1) 70%, rgba(150, 150, 150, .1) 71%, transparent 72%, transparent 89%,
  rgba(150, 150, 150, .1) 90%, rgba(150, 150, 150, .1) 91%, transparent 92%, transparent),
linear-gradient(90deg, transparent 9%, 
  rgba(150, 150, 150, .6) 10%, rgba(150, 150, 150, .6) 12%, transparent 13%, transparent 29%, 
  rgba(150, 150, 150, .1) 30%, rgba(150, 150, 150, .1) 31%, transparent 32%, transparent 49%, 
  rgba(150, 150, 150, .1) 50%, rgba(150, 150, 150, .1) 51%, transparent 52%, transparent 69%, 
  rgba(150, 150, 150, .1) 70%, rgba(150, 150, 150, .1) 71%, transparent 72%, transparent 89%,
  rgba(150, 150, 150, .1) 90%, rgba(150, 150, 150, .1) 91%, transparent 92%, transparent);
  background-size:50px 50px;
}
.logo{
  // span{
  //   color:$primaryColor
  // }
  span{
    color:$primaryColor;
  }
}
.logo:hover{
  span{
    color:#000;
  }
}
@keyframes blink {
	0% {
		color:#000;
  }
  20%{
    color:$primaryColor;;

  }
  30%{
    color:#000;

  }
  40%{
    color:$primaryColor;;

  }

	100% {
    color:$primaryColor;;
	}	
								
}
@-webkit-keyframes blink {
	0% {
		color:#fff;
  }
  20%{
    color:$primaryColor;;

  }
  30%{
    color:#fff;

  }
  40%{
    color:$primaryColor;;

  }

	100% {
    color:$primaryColor;;
	}	
								
}

nav{
    background: #FBFBFB;
    // box-shadow:0px 2px 1px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid $border;
    li.nav-item:hover,li.nav-item:active,li.nav-item:focus{
        background: #f2f2f2;
    }

    .dropdown-menu{
      label{
        width: 100%;
      }
      .dropdown-item:hover{
        background: #f2f2f2;
      }
      color:#000;
      background: #fff;
    }
  }
  #design{

      .connector-description,label{
   
        color:#000;
      }
  }
  .shape{

    color:#000;
  }
  svg{

    stroke: $primaryColor;
    fill: #fff;
 
}
.con_anchor {
  
    background-color: #fff;
   
  }
  .ui-resizable-handle{
    background: #fff;
  }
  #con-toolbox{
    background: #f5f5f5;
    svg{
      fill: #f5f5f5;
    }
  }
  #con-right{
  
    background: #f5f5f5;
  
  }
  #con-console{
    background: #FBFBFB;
  
    #console{  
      background: #f5f5f5;
      color:#000;
    
    }
   
  }
  table{
    color:#000;
 
    thead{
      border-color: #1b1e23 !important;
  
      tr{
        border-color: #1b1e23  !important;
  
      }
      td{
        border-color: #1b1e23  !important;
        
      }
  
    }

  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, .7); 
  
    border-radius: 5000px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  .header{
    color: #000;
  
    border-width: 1px;
    
    background: #eeeeee;
    border-color:  $border;
  }
  #assignment{
    background: #adedea;
    color:#000;
    border: 1px solid $primaryColor;
  
  }
  #pagination{
    background: #fbfbfb;
    border-bottom:1px solid $border;
   
    div{
      color:$primaryColor;
      background:#fff;
      border: 1px solid $primaryColor;
     
   
    }
    div:hover,div.active{
      background: $primaryColor;
      *{
        color:#fff !important ;

      }
    }
  
  
   
    .page-edit{
      background: #fff !important;
 
      .page-text{
        color:#1b1e23 !important;
 
      }
 
    }
  }
  .modal-content{
    background: #f5f5f5;
    color:#000;
    
    input,input:active,input:focus{
      background: #f5f5f5;
      color:#000;
      border:3px solid #aaa ;
      box-shadow: none;
    }
    
  }
  .modal-header{
    border-bottom:3px solid $border !important;
  
  }
  .modal-footer{
    border-top:3px solid $border !important;
  
  }
  .btn-node-tool:hover{
    svg{
      fill: #fff;
    }
  }
  .sidebar{
   
  
    li:hover{
      background: #fff;
    }
    .active{
      background: $primaryColor;
      color:#fff;
    }
  }

  .guide-content {

      background: #f5f5f5;
  }
  .modal-close,.modal-close:hover{
    color:#000 !important;
  }
  .btn-guide{
    border-color: #808080;
    color:#808080;
  }
  .btn-guide:hover,.btn-guide:focus,.btn-guide:active{
    color:$primaryColor;
    border-color: $primaryColor;
  }
