<!DOCTYPE html>

<html>

<head>
  <title>FlowdoCode | FLOWDOCODE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome-all.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/darktheme.css" /> -->



  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/popper.min.js"></script>

  <script src="js/bootstrap.min.js"></script>

  <script src="js/flowdocode.js"></script>
  <script src="js/compiler.js"></script>
  <script src="js/debugger.js"></script>
  <script src="js/font-awesome-all.min.js"></script>
  <script src="js/vue.js"></script>




</head>
<script>
  $(document).on("click", ".shape", function () {

    console.log(this);
  });
</script>

<body>

  <nav class="navbar navbar-expand-lg   p-0">
    <div class="col-6 flex-column">
      <ul class="navbar-nav p-0">
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" data-toggle="dropdown">File</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="save"><label>Save</label></a>
            <a class="dropdown-item" id="open">
              <label> Open
                <input type="file" id="openfile" accept="text/*,.fdc"></label>

            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="test.html" target="_blank">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ">Help</a>
        </li>
        <input class="form-control col-4" id="assignment" placeholder="Assignment" value="Assignment">
        <div class="col-6 py-2 m-0">
            <ul class="navbar-nav  m-0">
              <li class="nav-item ">
                <button class="btn btn-sm btn-flowdocode px-2" id="play"><i class='fas fa-play'></i></button>
                <button class="btn btn-sm btn-flowdocode px-2" id="debug"><i class="fas fa-bug"></i></button>
                <button class="btn btn-sm btn-flowdocode px-2 ondebug" id="next"><i class="fas fa-arrow-right"></i></button>
      
      
              </li>
            </ul>
        </div>
      </ul>
    
      <ul class="navbar-nav flex-row mb-2">
     
      </ul>
    </div>







  </nav>


  <div class="col-2 con-fixed h-100 py-5  " id="con-toolbox">
    <div class="my-5  toolbox start-end " id="start-end" draggable="true" ondragstart="drag(event)"
      data-toggle="tooltip" data-placement="bottom" title="End">
      <svg>
        <path d="M 25 1 C -5,1 -5,49 25,49 L 120 49 C 155,49 155,0 120,1 Z" />
      </svg>

    </div>
    <div class="my-5 toolbox process" id="process" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="Process">
      <svg>
        <path d="M 1 1 L 149 1 L 149 49 L 1 49 Z" />
      </svg>

    </div>
    <div class="my-5  toolbox input" id="input" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="input">
      <svg>
        <path d="M 1 15 L 149 1 L 149 49 L 1 49 Z" />
      </svg>

    </div>
    <div class="my-5  toolbox decision" id="decision" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="decision">
      <svg>
        <path d="M 75 1 L 150 25 L 75 50 L 1 25 Z " />
      </svg>

    </div>
    <div class="my-5 toolbox display" id="display" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="display">
      <svg>
        <path d="M 1 25 L 15 49 H 120 C 155 49 ,155 1, 120 1 H 15 L 1,25  " />
      </svg>

    </div>


  </div>
  <div class="offset-2 col-8 p-0 btn-group "id="pagination"style="overflow:hidden;">
    <button class="btn bg-white" ><i class="fas fa-plus-circle"></i></button>

  </div>
<div class="offset-2 col-8 p-0 pb-5  mb-5 h-75"id="con-design"style="position: absolute;overflow:scroll;">
 
  <div id="design" class=" col-12 p-0 con-design" ondragover="allowDrop(event)" ondrop="dropItem(event)">
    <svg id="canvas">
      <defs>
        <marker id="arrowhead" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" fill="#fff" />
        </marker>
      </defs>
    </svg>
    <div class=" shape start-end " id="start">
      <div class="con_anchor anchor_start anchor_top" data-point="top"></div>
      <div class="con_anchor anchor_start anchor_right" data-point="right"></div>
      <div class="con_anchor anchor_start anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor anchor_start anchor_left" data-point="left"></div>
      <svg>

        <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto">
        Start
      </div>
    </div>





  </div>
</div>







  <div class="col-8  h-25 p-0 offset-2 fixed-bottom  " id="con-console" >
    <p class="header py-1 m-0 "> Output</p>
    <div class="my-2 mb-5 m-0 px-4 " id="console" >

    </div>


     
  </div>
  <div class="offset-10  h-100 " id="con-right" style="overflow: hidden !important;">
    <p class="header py-1  m-0 col-12"> Debugger</p>
    <div class="col-12 h-50 p-0 " id="con-debugger" style="overflow-y: scroll !important;">
      <table class="table table-striped m-0">
        <thead class="text-center">
          <tr>
            <th>Action</th>

            <th>Variable</th>
            <th>Value</th>

          </tr>

        </thead>
        <tbody id="debugger" class="text-center">
         

        </tbody>
      </table>
    </div>
   
    <div class="col-12 p-0  h-50 m-0  ">
      <p class="header py-1 m-0"> Properties</p>
      <div class="row p-0 con-property">
        <div class="col-6 pl-4 font-weight-bold">Name</div>
        <input class="col-6" id="name" v-model="name">

        <div class="col-6 pl-4 font-weight-bold">Type</div>
        <input class="col-6" id="type" v-model="name">

        <div class="col-6 pl-4 font-weight-bold">Code</div>
        <input class="col-6" id="code" value="aaad">

        <div class="col-6 pl-4 font-weight-bold">Width</div>
        <input class="col-6" id="width" value="aaad">

        <div class="col-6 pl-4 font-weight-bold">Height</div>
        <input class="col-6" id="Height" value="aaad">

        <div class="col-6 pl-4 font-weight-bold">Location</div>
        <input class="col-6" id="location" value="aaad">



      </div>

    </div>
  </div>




</body>


<script>

  $(function () {
    //ปรับ resolution ตามขนาดจอที่เปิด อันนี้เอาค่าจากเครื่องต้นทาง
    //     console.log(window.screen.availHeight,
    // window.screen.availWidth);
    // $( "#content" ).selectable();
    $("#canvas").offset({ top: 0, left: 0 });
   
    $("#con-right").css("top",$("nav").outerHeight());
    $("#canvas").css("width",$(window).width());
    $("#canvas").css("height",$(window).height());
    
    $(".ondebug").hide();
    $('[data-toggle="tooltip"]').tooltip();


    $("#start").find(".con_anchor").draggable(conAnchorDraggableProperty());
    $("#start").find(".con_anchor").droppable(conAnchorDroppableProperty());
    $("#start").draggable(nodeDraggableProperty());
    $("#start").resizable(nodeResizableProperty("start-end"));//ใช้ในช่วง tester เปลี่ยน s เป็น start-end ตอนจริง
    updateAnchorPosition($("#start"));
    updateTextboxPosition($("#start"));
    let modX=($(document).width()/2)%10;
    let p = {
      top: 150,
      left: ($(document).width() / 2-modX) - 100

    }
    $("#start").offset(p);

  });

  function allowDrop(event) {
    event.preventDefault();
  }
  function drag(ev) {

    // ev.dataTransfer.setData("text", ev.target.getAttribute('data-type'));
    ev.dataTransfer.setData("text", ev.target.id);


  }
  function dropItem(event) {


    event.preventDefault();
    try {

      var type = event.dataTransfer.getData("text");
      onDropItemSuccess(type);
    } catch (event) {
      var type = "";
    }






  }

  $(document).on("mouseenter", "tr", function () {
    if (!onDebug) {
      let node = $(this).attr("data-node");
      $(node).find("svg").css("stroke", "#f1c40f");
      $(node).addClass("font-weight-bold");
      $(this).addClass("font-weight-bold");
    }

  });
  $(document).on("mouseleave", "tr", function () {
    if (!onDebug) {

      let node = $(this).attr("data-node");
      $(node).find("svg").css("stroke", "#4f7df9");
      $(node).removeClass("font-weight-bold");
      $(this).removeClass("font-weight-bold");
    }
  });


  $("div").on("click", ".shape", function () {
    // click select shape 
    actionOnSelectElement(this);





  });
  $(document).keydown(function (event) {

    if ((event.keyCode == 8 || event.keyCode == 46) && $(selectedEl).find("div.text").prop("contenteditable") != "true") {
      if ($(selectedEl).prop("id") != "start") {
        if ($(selectedEl).hasClass("shape")) {
          checkConnectorOnNodeDelete(selectedEl);
          $(selectedEl).remove();

        } else {
          onConnectorDelete(selectedEl);
          $(selectedEl).parent("g").remove();

        }

      }
    }
    if (event.keyCode == 13) {
      disContentEdit();

      shapeUnSelectedStyle();
    }
  });



  $("div").on("dblclick", ".text", function () {
    if (!$(selectedEl).hasClass("start-end")) {
      document.body.style.cursor = "";
      $(selectedEl).find("div.text").prop("contenteditable", true);
      $(selectedEl).find("div.text").focus();
      $(selectedEl).draggable({ disabled: true });

    }

  });
  $("div").on("blur", ".text", function () {

    disContentEdit();

  });
  function actionOnSelectElement(el) {
    if ($(selectedEl).prop("id") != $(el).prop("id")) {
      shapeUnSelectedStyle();
    }
    selectedEl = $(el);

    shapeSelectedStyle();
  }

  $(document).on("click", "polyline", function () {
    actionOnSelectElement(this);

  });

  $(document).on("mouseup","#canvas", function (event) {
    if (event.target === this) {

      shapeUnSelectedStyle();

    }

  });
  $(document).on("mouseenter", "polyline", function () {//event mouse hover on shape show anchor

    document.body.style.cursor = "grab";

  });

  $(document).on("mouseleave", "polyline", function () {  //event mouse leave on shape hide anchor

    document.body.style.cursor = "";

  });



  $(document).on("mouseenter", ".shape", function () {//event mouse hover on shape show anchor

    document.body.style.cursor = "grab";
    if ($(selectedEl).prop("id") != $(this).prop("id")) {
      updateAnchorPosition($(this));
      $(this).find(".con_anchor").css("opacity", "1");
      $(document).on("mousedown", function () {
        mouseDown = true;


      });
    }
  });

  $(document).on("mouseleave", ".shape", function () {  //event mouse leave on shape hide anchor

    document.body.style.cursor = "";
    if (!mouseDown) {
      $(this).find(".con_anchor").css("opacity", "0");
    }
    $(document).on("mouseup", function () {
      mouseDown = false;
    });
  });


  $(document).on("mouseup", ".shape", function () {
    if (selectedEl == undefined) {
      selectedEl = $(this);
    }

    shapeSelectedStyle();
    document.body.style.cursor = "grab";
  });

  $(document).on("mousedown", ".con_anchor", function () {

    originalPosition = $(this).offset();
    g = document.createElementNS("http://www.w3.org/2000/svg", "g");
    g = $(g).attr("marker-end", "url(#arrowhead)");
    g = $(g).attr("stroke-width", "2");

    $("#canvas").append($(g));

  });

  $(document).on("focus", ".consoleInput", function () {
    $(this).on("keydown", function () {
      if (event.keyCode == 13) {
        document.execCommand('insertHTML', false, '<br><br>');
        $(this).prop("contenteditable", "false");
        inputSuccess = true;
        compileContinue();
        return false;

      }
    });
  });

  $(document).on("click", "#save", function () {
    if ($("#assignment").val() == "" || $("#assignment").val() == "Assignment") {


      $("#assignment").addClass("is-invalid");
    } else {
      $("#assignment").removeClass("is-invalid");
      save($("#assignment").val());

    }
    // $(this).parent().dropdown('toggle');

  });
  $(document).on("change", "#open", function () {
    open();


  });
</script>

<scrip type="text/template">

  <template id="start-end">
    <div class="shape start-end ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>

      <svg>
        <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto ">
        End
      </div>
    </div>
  </template>
  <template id="process">
    <div class="shape process ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 1 1 L 199 1 L 199 49 L 1 49 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable=false>
        Process
      </div>
    </div>
  </template>
  <template id="input">
    <div class="shape input">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 1 15 L 199 1 L 199 49 L 1 49 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable=false>
        Input
      </div>
    </div>
  </template>
  <template id="decision">
    <div class=" shape decision ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 100 1 L 199 25 L 100 49 L 1 25 Z " />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable="false">
        Decision
      </div>
    </div>
  </template>
  <template id="display">
    <div class=" shape display ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 1 25 L 15 49 H 180 C 205 49 ,205 1, 180 1 H 15 L 1,25  " />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable="false">
        Display
      </div>
    </div>
  </template>





</scrip>

</html>