<!DOCTYPE html>

<html>

<head>
  <title>FlowdoCode | FLOWDOCODE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome-all.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
       
       

  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/flowdocode.js"></script>
  <script src="js/compiler.js"></script>
  <script src="js/font-awesome-all.min.js"></script>
  <script src="js/vue.js"></script>




</head>

<body>

  <nav class="navbar navbar-expand-lg  p-0">
      <div class="col-6">
          <ul class="navbar-nav p-0" >
              <li class="nav-item">
                <a class="nav-link " >File</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " >Edit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Help</a>
              </li>
            
          </ul>
      </div>
      <div class="col-6 py-2 m-0">
          <ul class="navbar-nav  m-0" >
              <li class="nav-item ">
                  <button class="btn btn-sm btn-flowdocode px-2"><i class="fas fa-play"></i></button>
              </li>
          </ul>
      </div>

    
     



  </nav>
  <svg id="canvas">
    <defs>
      <marker id="arrowhead" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" fill="#fff" />
      </marker>
    </defs>



  </svg>
  <div class="col-2 con-fixed h-100 pb-5 "id="con-toolbox">
    <div class="my-5  toolbox start-end " id="start-end" draggable="true" ondragstart="drag(event)">
      <svg >
        <path d="M 25 1 C -5,1 -5,49 25,49 L 120 49 C 155,49 155,0 120,1 Z" />
      </svg>
      <!-- <div class="text text-center col-7  text-truncate mx-auto" >
                  End
                </div> -->
    </div>
    <div class="my-5 toolbox process" id="process" draggable="true" ondragstart="drag(event)">
      <svg>
        <path d="M 1 1 L 149 1 L 149 49 L 1 49 Z" />
      </svg>
      <!-- <div class="text text-center col-7  text-truncate mx-auto"  >
                  Process
                </div> -->
    </div>
    <div class="my-5  toolbox input" id="input" draggable="true" ondragstart="drag(event)">
      <svg>
        <path d="M 1 15 L 149 1 L 149 49 L 1 49 Z" />
      </svg>
      <!-- <div class="text text-center col-7  text-truncate mx-auto"  >
                  Input
                </div> -->
    </div>
    <div class="my-5  toolbox decision" id="decision" draggable="true" ondragstart="drag(event)">
      <svg>
        <path d="M 75 1 L 150 25 L 75 50 L 1 25 Z " />
      </svg>
      <!-- <div class="text text-center  col-7 text-truncate mx-auto"  >
                  Decision
                </div> -->
    </div>
    <div class="my-5 toolbox display" id="display" draggable="true" ondragstart="drag(event)">
      <svg>
        <path d="M 1 25 L 15 49 H 120 C 155 49 ,155 1, 120 1 H 15 L 1,25  " />
      </svg>
      <!-- <div class="text text-center col-7  text-truncate mx-auto"  >
                  Display
                </div> -->
    </div>


  </div>

  <div class="offset-2 col-8 h-75  p-0  con-fixed con-design  "  ondragover="allowDrop(event)" ondrop="dropItem(event)">
    <div id="design" >
      <div class=" shape start-end " id="start">
        <div class="con_anchor anchor_start anchor_top" data-point="top"></div>
        <div class="con_anchor anchor_start anchor_right" data-point="right"></div>
        <div class="con_anchor anchor_start anchor_bottom" data-point="bottom"></div>
        <div class="con_anchor anchor_start anchor_left" data-point="left"></div>
        <svg>
    
          <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
        </svg>
        <div class="text text-center col-12  text-truncate mx-auto">
          Start
        </div>
      </div>
    </div>


  
  
  </div>

  <div class="col-8 con-fixed h-25 p-0 offset-2 fixed-bottom  " id="con-console" >
    <p class="header py-1 m-0 "> Output</p>
    <div class="m-4"id="console">
        gfdhgdf<br>
        gfdhgdfgfdhgd<br>
        fgfdhgdfgfdhgdf<br>
        gfdhgdf<br>
        gfdhgdf<br>
        gfdhgdf<br>
        gfdhgdf<br>
    </div>


  </div>

  <div class="offset-10 col-2 p-0 con-fixed h-100">
    <div class="col-12 h-50  p-0 m-0"  >
        <p class="header py-1 m-0"> Debugger</p>
    </div>
    <div class="col-12 p-0 h-50 m-0" style="background:#fff;">
      <p class="header py-1 m-0"> Properties</p>
      <div class="row p-0 con-property">
          <div class="col-6">Name</div>
          <input class="col-6" id="name" v-model="name">

          <div class="col-6">Type</div>
          <input class="col-6" id="type" v-model="name">

          <div class="col-6">Code</div>
          <input class="col-6" id="code" value="aaad">

          <div class="col-6">Width</div>
          <input class="col-6" id="width" value="aaad">

          <div class="col-6">Height</div>
          <input class="col-6" id="Height" value="aaad">

          <div class="col-6">Location</div>
          <input class="col-6" id="location" value="aaad">
    

      
      </div>
 
    </div>
  </div>




</body>


<script>

  $(function () {
    // $( "#content" ).selectable();

    $(".shape").each(function () {
      $(this).find(".con_anchor").draggable(conAnchorDraggableProperty());
      $(this).find(".con_anchor").droppable(conAnchorDroppableProperty());
      $(this).draggable(nodeDraggableProperty());
      $(this).resizable(nodeResizableProperty("start-end"));
      updateAnchorPosition($(this));
      updateTextboxPosition($(this));
    });
    let p = {
      top: 100,
      left: 580
    }
    $("#start").offset(p);
    $(".shape").draggable();

  });

  function allowDrop(event) {
    event.preventDefault();
  }
  function drag(ev) {

    // ev.dataTransfer.setData("text", ev.target.getAttribute('data-type'));
    ev.dataTransfer.setData("text", ev.target.id);


  }  
  function dropItem(event) {


    event.preventDefault();
    try {

      var type = event.dataTransfer.getData("text");
      onDropItemSuccess(type);
    } catch (event) {
      var type = "";
    }






  }
  


  $("div").on("click", ".shape", function () {
    if ($(selectedEl).prop("id") != $(this).prop("id")) {
      shapeUnSelectedStyle();
    }
    selectedEl = $(this);

    shapeSelectedStyle();
    $(document).keydown(function (event) {

      if ((event.keyCode == 8 || event.keyCode == 46) && $(selectedEl).find("div.text").prop("contenteditable") != "true") {
        if ($(selectedEl).prop("id") != "start"){
          $(selectedEl).remove();
          checkConnectorOnNodeDelete(selectedEl);
        }
      }
      if (event.keyCode == 13) {
        disContentEdit();
        shapeUnSelectedStyle();
      }
    });



    $("div").on("dblclick", ".text", function () {
      if (!$(selectedEl).hasClass("start-end")) {
        document.body.style.cursor = "";
        $(selectedEl).find("div.text").prop("contenteditable", true);
        $(selectedEl).draggable({ disabled: true });

      }

    });
    $("div").on("blur", ".text", function () {

      disContentEdit();

    });




  });


  $("#design").on("mouseup", function (event) {
    if (event.target === this) {
      shapeUnSelectedStyle();

    }

  });


  $(document).on("mouseenter", ".shape", function () {
    document.body.style.cursor = "grab";
    if($(selectedEl).prop("id") != $(this).prop("id")){
      $(this).find(".con_anchor").css("opacity", "1");
      $(document).on("mousedown", function () {
        mouseDown = true;
     

      });
    }
 });
  $(document).on("mouseleave", ".shape", function () {
    document.body.style.cursor = "";
    if (!mouseDown) {
      $(this).find(".con_anchor").css("opacity", "0");
    }
    $(document).on("mouseup", function () {
      mouseDown = false;
    });
  });


  $(document).on("mouseup", ".shape", function () {
    if (selectedEl == undefined) {
      selectedEl = $(this);

    }
    shapeSelectedStyle();
    document.body.style.cursor = "grab";
  });

  $(document).on("mousedown", ".con_anchor", function () {

      originalPosition = $(this).offset();
      g = document.createElementNS("http://www.w3.org/2000/svg", "g");
      g = $(g).attr("marker-end", "url(#arrowhead)");
      g = $(g).attr("stroke-width", "2");

      $("#canvas").append($(g));

  });


  $(".con-design").on("scroll",function(){
    $("line").each(function () {
          updateConnectorPosition($(this));

    });
  });

</script>

<scrip type="text/template">

  <template id="start-end">
    <div class="shape start-end ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>

      <svg>
        <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto ">
        End
      </div>
    </div>
  </template>
  <template id="process">
    <div class="shape process ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 1 1 L 199 1 L 199 49 L 1 49 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable=false>
        Process
      </div>
    </div>
  </template>
  <template id="input">
    <div class="shape input">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 1 15 L 199 1 L 199 49 L 1 49 Z" />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable=false>
        Input
      </div>
    </div>
  </template>
  <template id="decision">
    <div class=" shape decision ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 100 1 L 199 25 L 100 49 L 1 25 Z " />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable="false">
        Decision
      </div>
    </div>
  </template>
  <template id="display">
    <div class=" shape display ">
      <div class="con_anchor  anchor_top" data-point="top"></div>
      <div class="con_anchor  anchor_right" data-point="right"></div>
      <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
      <div class="con_anchor  anchor_left" data-point="left"></div>
      <svg>
        <path d="M 1 25 L 15 49 H 180 C 205 49 ,205 1, 180 1 H 15 L 1,25  " />
      </svg>
      <div class="text text-center col-12  text-truncate mx-auto" contenteditable="false">
        Display
      </div>
    </div>
  </template>





</scrip>

</html>