<!DOCTYPE html>

<html>

<head>
  <title>FlowdoCode | FLOWDOCODE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome-all.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/whitetheme.css"id="whitestyle" />


  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>

  <script src="js/popper.min.js"></script>

  <script src="js/bootstrap.min.js"></script>


  <script src="js/flowdocode.js"></script>
  <script src="js/pseudocode.js"></script>
  <script src="js/compiler.js"></script>
  <script src="js/debugger.js"></script>
  <script src="js/syntaxchecker.js"></script>
  <script src="js/font-awesome-all.min.js"></script>
  <script src="js/events.js"></script>

  <script src="js/jquery.md5.js"></script>


</head>

<body>

  <nav class="navbar navbar-expand-lg   p-0">
    <div class="col-12 m-0 p-0">
      <ul class="navbar-nav py-1">

        <div class="logo px-2"><a href="index.html">FlowD<span>o</span><label class='p-0'id="c">C</label><span>o</span>de</a></div>


        <li class="nav-item dropdown mx-1 ">
          <a class="nav-link " href="#" data-toggle="dropdown">File</a>
          <div class="dropdown-menu">
            <label> <a class="dropdown-item" id="save">Save</a></label>
            <label><a class="dropdown-item" id="saveall">Save All</a></label>

            <label><a class="dropdown-item" id="open">
                Open
                <input type="file" id="openfile" accept="text/*,.fdc">

              </a></label>
            <!-- <label> <a class="dropdown-item" id="pseudoCode" ><label>PseudoCode</label></a></label> -->
          </div>
        </li>
        <li class="nav-item dropdown mx-1">
          <a class="nav-link " href="#" data-toggle="dropdown">Theme</a>
          <div class="dropdown-menu">
            <label> <a class="dropdown-item" id="white-theme">Light Theme</a></label>
            <label><a class="dropdown-item" id="dark-theme">Dark Theme </a></label>

           
          </div>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link " href="credit.html" >Credit</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link " href="#" data-toggle="modal" data-target="#guide">Help</a>
        </li>
        <div class="col-12  px-0 mx-auto" style="position:absolute">
          <ul class="navbar-nav  p-0 justify-content-center" style="border:none">
            <li class="">
              <button class="btn btn-sm btn-flowdocode px-2 mt-1" id="play" data-toggle="tooltip" data-placement="bottom" title="Run"><i class='fas fa-play'></i></button>
              <button class="btn btn-sm btn-flowdocode px-2 mt-1" id="debug" data-toggle="tooltip" data-placement="bottom" title="Debug"><i class="fas fa-bug"></i></button>
              <button class="btn btn-sm btn-flowdocode px-2 mt-1" id="pseudocode" data-toggle="tooltip" data-placement="bottom" title="PseudoCode"><i class="fas fa-code"></i></button>

              <button class="btn btn-sm btn-flowdocode px-2 mt-1" id="stop" data-toggle="tooltip" data-placement="bottom" title="Stop"><i class='fas fa-stop' ></i></button>
              <button class="btn btn-sm btn-flowdocode px-2 mt-1" id="play-refresh" data-toggle="tooltip" data-placement="bottom" title="Refresh">
                <i class="fas fa-redo-alt"></i>
              </button>
              <button class="btn btn-sm btn-flowdocode px-2 ondebug mt-1" id="refresh" data-toggle="tooltip" data-placement="bottom" title="Refresh">
                  <i class="fas fa-redo-alt"></i>
                </button>
              <button class="btn btn-sm btn-flowdocode px-2 ondebug mt-1" id="next" data-toggle="tooltip" data-placement="bottom" title="Next ">
                <i class="fas fa-step-forward"></i>
              </button>
                <button class="btn btn-sm btn-flowdocode px-2 ondebug mt-1"id="skip" data-toggle="tooltip" data-placement="bottom" title="Skip">
                  <i class="fas fa-fast-forward"></i>
                </button>
                 


            </li>
          </ul>
        </div>
      </ul>


    </div>







  </nav>


  <div class="col-2 con-fixed h-100 pb-5 p-0" id="con-toolbox">
    <p class="header py-1 m-0 col-12">Toolbox</p>
    <div class="my-5  toolbox start-end " id="start-end" draggable="true" ondragstart="drag(event)"
      data-toggle="tooltip" data-placement="bottom" title="End">
      <svg>
        <path d="M 25 1 C -5,1 -5,49 25,49 L 120 49 C 155,49 155,0 120,1 Z" />
      </svg>

    </div>
    <div class="my-5 toolbox process" id="process" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="Process">
      <svg>
        <path d="M 1 1 L 149 1 L 149 49 L 1 49 Z" />
      </svg>

    </div>
    <div class="my-5  toolbox input" id="input" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="Input">
      <svg>
        <path d="M 1 15 L 149 1 L 149 49 L 1 49 Z" />
      </svg>

    </div>
    <div class="my-5  toolbox decision" id="decision" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="Decision">
      <svg>
        <path d="M 75 1 L 150 25 L 75 50 L 1 25 Z " />
      </svg>

    </div>
    <div class="my-5 toolbox display" id="display" draggable="true" ondragstart="drag(event)" data-toggle="tooltip"
      data-placement="bottom" title="Display">
      <svg>
        <path d="M 1 25 L 15 49 H 120 C 155 49 ,155 1, 120 1 H 15 L 1,25  " />
      </svg>

    </div>
<!-- <div id="version"style="color:#fff">v.1.0.0.8</div> -->

  </div>
  <div class="offset-2 col-8 p-0 btn-group " id="pagination">
    <button class="btn btn-flowdocode" id="addpage" ><i class="fas fa-plus-circle"></i></button>

  </div>
  <div class="offset-2 col-8 p-0 pb-5  mb-5 " id="con-design" style="position: fixed;overflow-y:scroll;">

    <div id="design" class=" col-12 p-0 con-design" ondragover="allowDrop(event)" ondrop="dropItem(event)">
      <div id="design-containment" ></div>
      <svg id="canvas">
        <defs>
          <marker id="arrowhead" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
      </svg>
      <div class=" shape start-end " id="start">
        <div class="con_anchor anchor_start anchor_top" data-point="top"></div>
        <div class="con_anchor anchor_start anchor_right" data-point="right"></div>
        <div class="con_anchor anchor_start anchor_bottom" data-point="bottom"></div>
        <div class="con_anchor anchor_start anchor_left" data-point="left"></div>
        <svg>

          <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
        </svg>
        <div class="text text-center col-12  text-truncate mx-auto">
          Start
        </div>
      </div>





    </div>
  </div>







  <div class="col-8  h-25 p-0 offset-2 fixed-bottom  " id="con-console">
    <p class="header py-1 m-0 "> Output</p>
    <div class="my-2 mb-5 m-0 px-4 " id="console">

    </div>



  </div>

  <div class="offset-10 col-2 p-0 h-100 " id="con-right" >
    <p class="header py-1 pt-1 m-0 col-12"> Debugger</p>
    <div class="col-12 p-0 m-0 row header" style="display: flex;"> 
      <div class="col-4 debugger-header py-2" >Action</div>
      <div class="col-4 debugger-header py-2">Variable</div>
      <div class="col-4 debugger-header py-2">Value</div>

    </div>
    <div class="col-12  p-0 pb-5 " id="con-debugger" style="overflow-y: scroll !important;"> 
      
      <table class="table  table-striped m-0">
     
        <tbody id="debugger" class="text-center"style="overflow-y: scroll !important;">


        </tbody>
      </table>
    </div>

    <!-- <div class="col-12 p-0  h-50 m-0  ">
      <p class="header py-1 m-0 "> Properties</p>
      <div class="row p-0 con-property">
        <div class="col-6 pl-4 font-weight-bold">Name</div>
        <input class="col-6" id="name" v-model="name" readonly>

        <div class="col-6 pl-4 font-weight-bold">Type</div>
        <select class="col-6" id="type" v-model="name">
          <option value="process">Process</option>
          <option value="input">Input</option>
          <option value="decision">Decision</option>
          <option value="display">Display</option>

        </select>

        <div class="col-6 pl-4 font-weight-bold">Code</div>
        <input class="col-6" id="code" value="aaad" readonly>

        <div class="col-6 pl-4 font-weight-bold">Width</div>
        <input class="col-6" id="width" value="aaad" readonly>

        <div class="col-6 pl-4 font-weight-bold">Height</div>
        <input class="col-6" id="Height" value="aaad" readonly>

        <div class="col-6 pl-4 font-weight-bold">Location</div>
        <input class="col-6" id="location" value="aaad" readonly>



      </div>

    </div> -->

  </div>


  <div class="modal fade" id="InputDialog" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Input Box</h5>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label id="inputtitle"></label>
            <input type="text" class="form-control" id="inputBox" autofocus>
            <small id="emailHelp" class="form-text text-muted">If value is string you must assign in " " Or ' '</small>
          </div>
        </div>
     
      </div>
    </div>
  </div>
<!-- Button trigger modal -->





<div class="modal fade " id="guide"  data-backdrop="true"tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content-guide" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">FLOWDOCODE GUIDE</h5>

        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row py-0" >
        <div class="col-2 p-0 sidebar list-group" id="guide-scrollspy">
          <ul class="p-0 m-0" >
            <li class="guide-side-bar  ">
              <a class="nav-link active p-3" href="#component">Component</a>
            </li>
            <li class="guide-side-bar">
              <a class="nav-link p-3" href="#event">Event</a>
             
            </li>
            <li class="guide-side-bar">
              <a class="nav-link p-3" href="#writing">Writing </a>
              
            </li>
         
        
          </ul>
        </div>
        <div class="col-10 guide-content container px-5" data-spy="scroll" data-target="#guide-scrollspy" data-offset="0">
          <div id="component">
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid col-12" src="images/all.png">
            </div>
            <p> ส่วนประกอบของโปรแกรมแบ่งได้ 5 ส่วนดังนี้     <br> 
              1. Header เป็นส่วนจัดการงานและปุ่มการทำงานต่าง ๆ ดังนี้ <br>
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid"src="images/h-file.jpg"> <br>   
              </div>
              File สำหรับจัดการไฟล์งาน ประกอบด้วย<br>   
                - Save สำหรับบันทึกงานหน้าปัจจุบันที่เปิดอยู่<br>   
                - Save All สำหรับบันทึกงานทุกหน้าที่มีทั้งหมด<br>   
                - Open สำหรับเปิดไฟล์งานที่ได้ออกแบบไว้แล้ว นามสกุล .fdc<br>   
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid" src="images/h-theme.jpg"><br>
            </div>
            Theme สามารถเลือกธีมสีของโปรแกรมได้<br>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid" src="images/h-run.jpg">
            </div>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid" src="images/h-debug.jpg">
            </div>
            
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid" src="images/h-pseudocode.jpg">
            
            </div>
              ปุ่มการทำงานหลักประกอบด้วย   <br>
              - ปุ่ม Run สำหรับคอมไพล์โปรแกรมเมื่อออกแบบผังงานเสร็จแล้ว (หากจะคอมไพล์เบื้องต้นผ่านจำเป็นต้องมี Start และ End)<br>
              - ปุ่ม Debug เมื่อคอมไพล์ผ่านแล้ว สามารถเลือกปุ่มนี้ สำหรับแสดงขั้นตอนการทำงานของผังงานได้ <br>
              - ปุ่ม Pseudocode สำหรับดูรหัสเทียมของผังงานที่ออกแบบไว้ <br>
              และเมื่อกดปุ่ม Debug จะมีปุ่มสำหรับการทำงานของ Debug ดังนี้ <br>
              <div class="col-12 con-img">
              
                <img class=" my-5 img-fluid" src="images/h-stop.jpg">
              </div>
              
              <div class="col-12 con-img">
              
                <img class=" my-5 img-fluid" src="images/h-refresh.jpg">
              </div>
              
              <div class="col-12 con-img">
              
                <img class=" my-5 img-fluid" src="images/h-next.jpg">
              </div>
              
              <div class="col-12 con-img">
              
                <img class=" my-5 img-fluid" src="images/h-skip.jpg">
              </div>

              - ปุ่ม Stop สำหรับหยุดแสดงขั้นตอนการทำงาน<br>
              - ปุ่ม Next  สำหรับไปขั้นตอนการทำงานถัดไป โดยจะแสดงในส่วน Debugger ทีละบรรทัด <br>
              - ปุ่ม Refresh สำหรับเริ่มต้นการตรวจสอบหรือแสดงขั้นตอนการทำงานใหม่ตั้งแต่ Start<br>
              - ปุ่ม Skip สำหรับกดข้ามหรือต้องการออกเมื่อกำลังอยู่ในขั้นตอนการทำงานแบบทำซ้ำ<br>
              <br>
          
              
              2. Grid เป็นพื้นที่สำหรับออกแบบผังงาน สำหรับวางสัญลักษณ์และเชื่อมสัญลักษณ์ โดยมีส่วนหัวมีชื่องานหน้าปัจจุบันที่เปิดอยู่ หรือมีหน้าอื่น ๆ โดยสามารถแก้ไขชื่องาน หรือเพิ่มหน้าได้ จากการกดไอคอนบวกหรือเพิ่ม
              <br>
              <div class="col-12 con-img">
              
                <img class=" my-5 img-fluid" src="images/grid.jpg"> <br>
              </div>
              
              
              3. Toolbox สำหรับแสดงสัญลักษณ์ผังงาน <br>
              <div class="col-12 con-img">
              
                <img class=" my-5 img-fluid" src="images/toolbox.jpg"> <br>
              </div>

              ประกอบด้วย<br>
              - End สัญลักษณ์จุดจบของโปรแกรม โดยสัญลักษณ์จุดเริ่มต้นของโปรแกรม (Start) จะแสดงเป็นค่าเริ่มต้น<br>
              - Process สัญลักษณ์การประมวลผล<br>
              - Input สัญลักษณ์การรับข้อมูลผ่านแป้นพิมพ์<br>
              - Discion สัญลักษณ์แสดงการตัดสินใจ<br>
              - Display สัญลักษณ์แสดงผลทางจอภาพ<br>

             
              4. Output สำหรับแสดงผลลัพธ์สุดท้าย <br>
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid" src="images/output-ex.jpg">
              </div>
              5. Debugger <br>
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid" src="images/debugger-ex.jpg">
              </div>
              เมื่อกดปุ่ม Debug จะแสดงผลขั้นตอนการทำงานในส่วน Debugger โดยจะแสดงทีละบรรทัดดังนี้
              - Action จะแสดงประเภทของสัญลักษณ์ผังงาน
              - Variable จะแสดงชื่อตัวแปรที่ประกาศไว้
              - Value จะแสดงค่าของตัวแปรที่ประกาศไว้ ณ ขณะนั้น

            </p>

            
          </div>
          <div id="event">
                
            <p>
              <span >การเพิ่มสัญลักษณ์</span><br>  
             สามารถเพิ่มสัญลักษณ์ได้ 2 วิธีดังนี้<br>
             1. ลาก-วาง โดยเลือกสัญลักษณ์จาก Toolbox ลากมาวางในตำแหน่งที่ต้องการ  <br>
             <div class="col-12 con-img">
              <img class=" my-5 img-fluid  "src="images/add1.png">
             </div>
              2. เพิ่มจากลูกศรสัญลักษณ์ก่อนหน้า โดยกำหนดสัญลักษณ์เริ่มต้นคือสัญลักษณ์ประมวลผล (Process)  <br>
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid"src="images/add2.png">  

              </div>

             <span>การเพิ่มข้อความในสัญลักษณ์</span><br>  
             ดับเบิ้ลคลิกสัญลักษณ์ที่ต้องการ จากนั้นใส่ข้อความ (เส้นขอบสัญลักษณ์จะเปลี่ยนเป็นเส้นประ)<br>   
             <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/addtext.png">

             </div>
  
             <span>การย่อ-ขยายสัญลักษณ์</span><br>  
             คลิกเลือกสัญลักษณ์ที่ต้องการ และชี้เมาส์ไปที่จุดสำหรับย่อขยายด้านซ้ายและด้านขวา  <br>   
             <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/resize.png">

             </div>

             <span>การเปลี่ยนสัญลักษณ์</span><br>  
             คลิกเลือกสัญลักษณ์ที่ต้องการ จะมีไอคอนสัญลักษณ์อื่น ๆ ให้คลิกเลือกเพื่อเปลี่ยนสัญลักษณ์ได้ <br>   
             <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/change.png">  

             </div>

             <span>การเชื่อมเส้นระหว่างสัญลักษณ์ </span><br>  
             ชี้เมาส์ไปที่สัญลักษณ์ต้นทางจะมีจุดเชื่อมแสดงแต่ละด้าน ให้คลิกลากจากจุดที่ต้องการไปที่จุดเชื่อมสัญลักษณ์ปลายทาง 
             (หากต้องการเปลี่ยนทิศทางเส้นหรือลากไปในจุดที่ไม่ต้องการ สามารถลากใหม่ได้ โดยไม่ต้องลบเส้นเก่าออก)  <br>   
             <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/addline.png">

             </div>

             <span>การเชื่อมเส้นของสัญลักษณ์ตัดสินใจ </span><br>  
              หากลากเส้นเชื่อมระหว่างสัญลักษณ์ของสัญลักษณ์ตัดสินใจ เส้นแรกจะเป็น True เสมอ และเส้นที่สองจะเป็น False  <br>   
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid"src="images/linedecision.png">

              </div>

             <span>การสลับเส้นเชื่อมของสัญลักษณ์ตัดสินใจ </span><br>  
             คลิกเลือกสัญลักษณ์ตันสินใจ ให้เกิดเส้นประแล้วคลิกที่ไอคอนสลับ จากนั้นเส้นระหว่าง True กับ False จะสลับฝั่งกัน  <br>   
             <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/switchdecision.png">
             </div>

             <span>การลบสัญลักษณ์ </span><br>  
              เลือกสัญลักษณ์ที่ต้องการลบ ให้เกิดเส้นประ โดยสามารถลบจากการคลิกที่ไอคอนถังขยะ หรือลบจากการกดปุ่ม Delete ที่คีย์บอร์ด 
              (เมื่อสัญลักษณ์ที่ต้องการลบมีเส้นเชื่อมระหว่างสัญลักษณ์ เส้นที่เชื่อมจะถูกลบด้วย) <br>   
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid"src="images/deletetool.png">
              </div>

             <span>การลบเส้น</span><br>  
              เลือกเส้นที่ต้องการลบ ให้เกิดเส้นประ จากนั้นทำการลบโดยกดปุ่ม Delete ที่คีย์บอร์ด <br>   
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid"src="images/deleteline.png"> 

              </div>

           
            </p>

          </div>
          <div id="writing">  
            <p> <span>สัญลักษณ์การประมวลผล</span><br>
            ใช้ใน 2 กรณีดังนี้ <br>
            1. สำหรับกำหนดตัวแปร<br>
            operand = ตัวอักษรและตัวเลข เช่น i , num , 10 เป็นต้น<br>
            operator = เครื่องหมายต่าง ๆ เช่น + ,-, *, / , () เป็นต้น<br>
            โดยรูปแบบ <br>
              operand + operator + operand <br>
            มีหลักเกณฑ์การตั้งชื่อคือ ขึ้นต้นด้วย a-z A-Z $ _ ตามด้วย a-z A-Z $ _ 0-9<br>
            ประกาศได้ 3 ชนิดได้แก่<br>
            ตัวเลข Int<br>
            ตัวเลข Double<br>
            ตัวอักษร String จะใส่ “” หรือ ‘’ ก็ได้<br>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/p-varall.png">

            </div>

            2. สำหรับประมวลผล<br>
            โดยรูปแบบ <br>
              operand + operator + operand + ... +operand<br>
              <div class="col-12 con-img">
                <img class=" my-5 img-fluid"src="images/process.png">

              </div>
            <span>สัญลักษณ์การรับข้อมูลผ่านแป้นพิมพ์</span><br>
            โดยสามารถใส่ชื่อตัวแปรในสัญลักษณ์ เมื่อกดปุ่ม run จะแสดงกล่องใส่ค่าของตัวแปรที่ประกาศไว้ สำหรับแสดงขั้นตอนการทำงานของผังงาน<br>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/inputnum.png">

            </div>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/inputstring.png">

            </div>

            <span>สัญลักษณ์แสดงการตัดสินใจ</span><br>
            โดยมีรูปแบบดังนี้<br>
            operand + operator + operator + operand + ... + operand<br>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/decision.png">

            </div>
          

            <span>สัญลักษณ์แสดงผลทางจอภาพ</span><br>
            สามารถใส่ชื่อตัวแปรในสัญลักษณ์ หรืือเมื่อมีข้อความที่ต้องการแสดงที่ไม่ใช่ตัวแปรจะมีต้องอยู่ภายในเครื่องหมาย "" และหากต้องการแสดงค่าของตัวแปรต่อท้ายจะใช้เครื่องหมาย + และตามตัวชื่อตัวแปร <br>
            <div class="col-12 con-img">
            <img class=" my-5 img-fluid"src="images/display1.png">
            </div>
            <div class="col-12 con-img">
              <img class=" my-5 img-fluid"src="images/display2.png">
            </div>
            </p>
          </div>
        
        
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-primary btn-guide" ><i class="fas fa-chevron-left"></i></button>
        <button type="button" class="btn btn-outline-primary btn-guide"><i class="fas fa-chevron-right"></i></button> -->
      </div>
    </div>
  </div>
</div>
</body>


<script>

  $("#con-design").scroll(function () {
  
  });
  $(function () {

    // let w = new Worker("js/worker.js");
    // w.postMessage('d');
    // w.onmessage=function(e){
      
    //   console.log(e);
    // }
    let list=[];
    for(let i =0;i<sessionStorage.length;i++){
      list.push(sessionStorage.key(i));
    }
    list.sort();
    list.sort((a,b)=>{    
    return compare(a,b);
  });
      for(let i =0;i<list.length;i++){
      let sessionKey = list[i];
      let sessionVal=sessionStorage.getItem(sessionKey);
      let size=3 + ((sessionVal.length*16)/(8*1024)) + ' KB'
      console.log(size);
      try{
        sessionVal=JSON.parse(sessionVal);

      }catch(e){
        console.log('can\'t Convert Json');
        console.log(e);
        continue;
      }
      if(sessionVal.design==undefined||sessionVal.resolution==undefined){
        console.log(sessionKey+'   Data Incomplete');
        continue;

      }
    

      addToStorageCache(sessionKey,sessionStorage.getItem(sessionKey));
      writeCodeToDesign(sessionStorage.getItem(sessionKey));
    }
    if(sessionStorage.length<=1){
      init();
    }else{
      init(true);
    }
    // sessionStorage.clear();

    //ปรับ resolution ตามขนาดจอที่เปิด อันนี้เอาค่าจากเครื่องต้นทาง
    //     console.log(window.screen.availHeight,
    // window.screen.availWidth);
    // $( "#content" ).selectable();    

   

  });
  function allowDrop(event) {
    event.preventDefault();
  }
  function drag(ev) {

    // ev.dataTransfer.setData("text", ev.target.getAttribute('data-type'));
    ev.dataTransfer.setData("text", ev.target.id);


  }
  function dropItem(event) {


    event.preventDefault();
    try {

      var type = event.dataTransfer.getData("text");

      onDropItemSuccess(type);
    } catch (event) {
      var type = "";
    }






  }
  $(document).on("DOMSubtreeModified","#design",function(){
    // let presentPage=$(".active").attr("data-page");
    // sessionStorage.setItem(presentPage,$("#design").html())
   
    // readPage(presentPage, "switch");
  });
  // $(document).on("dblclick",".toolbox",function(){
  //   let node =getLatestNode() ;
  //   let position=$(node).offset();
  //   onDropItemSuccess($(this).prop("id"),position.left+100,position.top+120);
  // });
  $(document).on("mouseenter", "tr", function () {
    let node = $(this).attr("data-node");
    if (!onDebug) {
      
      $(node).find("svg").css("stroke", "#f1c40f");
      $(node).addClass("font-weight-bold");
      $(this).addClass("font-weight-bold");
     
     
    }
    // if($(node).offset().top>$(document).height()*70/100){
    //     let height=$(node).offset().top-$(document).height()*50/100;
      
    //     $("#con-design").animate({scrollTop:height}, "fast");
    //   }else if($(node).offset().top<$(document).height()*15/100){
    //     let height=$(node).offset().top-$(document).height()*50/100;
      
    //     $("#con-design").animate({scrollTop:height}, "fast");
    // }

  });
  $(document).on("mouseleave", "tr", function () {
    if (!onDebug) {

      let node = $(this).attr("data-node");
      $(node).find("svg").css("stroke", "#4f7df9");
      $(node).removeClass("font-weight-bold");
      $(this).removeClass("font-weight-bold");
    }
  });


  $("div").on("click", ".shape", function () {
    // click select shape 
    actionOnSelectElement(this);
    showNodeTool(this);
    $('.btn-next-node').remove();



  });
  $(document).keydown(function (event) {

    if ((event.keyCode == 8 || event.keyCode == 46) && $(selectedEl).find("div.text").prop("contenteditable") != "true") {
      if ($(selectedEl).prop("id") != "start") {
        if ($(selectedEl).hasClass("shape")) {
          checkConnectorOnNodeDelete(selectedEl);

          $(selectedEl).remove();
          $('.container-node-tool').remove();

          hasEnd();
        } else {
          onConnectorDelete(selectedEl);
          $(selectedEl).parent("g").remove();

        }

      }
    }
    if (event.keyCode == 13) {
      disContentEdit();

      shapeUnSelectedStyle();
    }
  });



  $("div").on("dblclick", ".text", function () {
    if (!$(selectedEl).hasClass("start-end")) {
      document.body.style.cursor = "";
      if (getNodeType(selectedEl) == $(selectedEl).find("div.text").text().trim().toLowerCase()) {
        $(selectedEl).find("div.text").empty();

      }
      $(selectedEl).find("div.text").prop("contenteditable", true);
      $('.container-node-tool').remove();
      $('.btn-next-node').remove();

      $(selectedEl).find("div.text").focus();
      /*       console.log($(selectedEl).find("div.text").text().trim());
            console.log(getNodeType(selectedEl)); */



      $(selectedEl).draggable({ disabled: true });

    }

  });
  $("div").on("blur", ".text", function () {
    if ($(selectedEl).find("div.text").text().trim().toLowerCase() == "") {
      $(selectedEl).find("div.text").text(getNodeType(selectedEl));

    } else if ($(selectedEl).hasClass("process")) {

    }

    disContentEdit();
    $(this).find(".con_anchor").css("opacity", "0");

  });
  function actionOnSelectElement(el) {
    if ($(selectedEl).prop("id") != $(el).prop("id")) {
      shapeUnSelectedStyle();
    }
    selectedEl = $(el);

    shapeSelectedStyle();
  }

  $(document).on("click", "polyline", function () {
    actionOnSelectElement(this);

  });

  $(document).on("mouseup", "#canvas", function (event) {
    if (event.target === this) {

      shapeUnSelectedStyle();
      $('.container-node-tool').remove();

    }

  });
  $(document).on("mouseenter", "polyline", function () {//event mouse hover on shape show anchor

    document.body.style.cursor = "grab";

  });

  $(document).on("mouseleave", "polyline", function () {  //event mouse leave on shape hide anchor

    document.body.style.cursor = "";

  });

  $(document).on("mouseenter", ".con_anchor", function () {
    document.body.style.cursor = "grab";

    onHoverAnchor = true;
  });
  $(document).on("mouseleave", ".con_anchor", function () {
    document.body.style.cursor = "move";
    onHoverAnchor = undefined;
  });
  $(document).on("mousemove", ".text", function () {
    if ($(this).prop("contenteditable") == true) {
      document.body.style.cursor = "text";

    }

  });
  $(document).on("mouseleave", ".text", function () {
    document.body.style.cursor = "move";
  });


  $(document).on("mouseenter", ".shape", function () {//event mouse hover on shape show anchor


    if ($(selectedEl).prop("id") != $(this).prop("id")) {

      if(!onAnchorDrag){
        showNextNodeArrow(this);
        updateAnchorPosition($(this));

      }
      $(this).find(".con_anchor").css("opacity", "1");
      $(".btn-next-node").css("opacity", "0.5");

      $(document).on("mousedown", function () {

        mouseDown = true;


      });
    }
    if (selectedEl == undefined) {
      mouseDown = false;
    }
  });


  $(document).on("mouseleave", ".shape", function () {  //event mouse leave on shape hide anchor

    document.body.style.cursor = "";
    if (!mouseDown) {
      $(this).find(".con_anchor").css("opacity", "0");
      nextNodeTimeOut();


    }
    $(document).on("mouseup", function () {
      mouseDown = false;
    });
  });
  $(document).on("mouseenter",".btn-next-node",function(){

    $(this).css("opacity", "1");
    clearTimeout( setTimeoutArrow);

  });
  $(document).on("mouseleave",".btn-next-node",function(){

    $(this).css("opacity", "0.5");
    nextNodeTimeOut();
  });
  $(document).on("click",".btn-next-node",function(){
    
    let nodeParent = "#"+$(this).attr('data-nextnodeof');

    if ($(nodeParent).attr("data-connector") != undefined) {//ถ้า Node นั้นเคยมีConnector เก่าให้ลบออก

      let connector = $(nodeParent).attr("data-connector");
      $(connector).parent().remove();

    }
    let way = $(this).attr('data-way');
    let position =$(nodeParent).offset();
    let toAnchor=undefined;
    let designWidth=$('#design').offset().left+50+$('#design').outerWidth()-100;
    let designTop=$('#design').offset().top+50;
    switch(way){
      case 'top':
          if(position.top-100<=designTop+20){
            position.top += 100;
          } else {
            position.top -= 100;
          }
          position.left += 100;

          toAnchor='bottom';
        break;
      case 'right':
   
        if((position.left+400)>=(designWidth-20)){
          position.top+=100;
          position.left+=100;
        }else{
          position.left+=400;

        }
        toAnchor='left';

        break;
      case 'bottom':
    

      if (position.top + 100 >= designTop  + $('#design').outerHeight() - 100) {
          position.top -= 100;
        } else {
          position.top += 100;
        }
        position.left+=100;
        toAnchor='top';

        break;
      case 'left':
      if ((position.left - 200) <= ($('#design').offset().left+50 + 20)) {
          position.top += 100;
          position.left += 100;
        } else {
          position.left -= 200;
        }
  
      toAnchor='right';

        break;
    }
    
    let newNode=onDropItemSuccess('process',position.left,position.top);

    let gt = document.createElementNS("http://www.w3.org/2000/svg", "g");
     gt = $(gt).attr("marker-end", "url(#arrowhead)");
     gt = $(gt).attr("stroke-width", "2");

    $("#canvas").append($(gt));

 
    let lineDraw = document.createElementNS("http://www.w3.org/2000/svg", "polyline");// สร้าง connector
    $(gt).html(lineDraw);
    $(lineDraw).attr("id", "line_" +nodeParent.replace('#',''));//เพิ่ม id ให้ connector
    $(lineDraw).addClass($(nodeParent).prop('id'));
    $(lineDraw).addClass($(newNode).prop('id'));
    $(lineDraw).attr('data-from','#'+$(nodeParent).prop('id'));
    $(lineDraw).attr('data-to','#'+$(newNode).prop('id'));
    $(lineDraw).attr('data-anchorfrom',way);
    $(lineDraw).attr('data-anchorto',toAnchor);
    updateConnectorPosition(lineDraw);
    if($(nodeParent).hasClass('decision')){
      createConnectorOfDecision(nodeParent,lineDraw);
    }else{
      $(nodeParent).attr('data-connector','#'+$(lineDraw).prop('id'));

    }


    $(".btn-next-node").remove();
  });
  $(document).on("mouseup", ".shape", function () {
    if (selectedEl == undefined) {
      selectedEl = $(this);
    }

    shapeSelectedStyle();
    document.body.style.cursor = "grab";
  });

  $(document).on("mousedown", ".con_anchor", function () {

    gTag = document.createElementNS("http://www.w3.org/2000/svg", "g");
    gTag = $(gTag).attr("marker-end", "url(#arrowhead)");
    gTag = $(gTag).attr("stroke-width", "2");

    $("#canvas").append($(gTag));

  });

  $(document).on("keyup", "#inputBox", function (e) {
    let regex = /(^[0-9]+|^\'[^\\\/\;\'\"]+\'|^\"[^\\\/\;\'\"]+\")$/gm;
    if ($(this).val() != "" && regex.test($(this).val())) {
      $(this).removeClass('input_invalid');
      if (event.keyCode == 13 ) {


        inputSuccess = true;
        $("#InputDialog").modal("hide");
       



        

        /*         return false;
        */
      }
    } else {
      $(this).addClass('input_invalid');
    }
  });
  $('#InputDialog').on('hidden.bs.modal', function (e) {
      compileContinue();
    })
  $(document).on("click", "#saveall", function () {

    saveAll();



    // $(this).parent().dropdown('toggle');

  });
  $(document).on("click", "#save", function () {
    let fileName = $(".active").attr("data-page");

    save(fileName);

    // $(this).parent().dropdown('toggle');

  });
  $(document).on("change", "#open", function () {
    openFile();
  });
  $(document).on("click", ".page", function () {
    if (!$(this).hasClass("active") && onClose != true) {
      readPage($(this), "switch");
    }
    onClose = false;
    $("#console").empty();
    $("#debugger").empty();
  });
  $(document).on("click", "#addpage", function () {
    $("#con-design").scrollTop(0);
    let width = $(window).width();
    let height = $(window).height();
    let text = { "design": $("#design").html(), "resolution": { "width": width, "height": height } };
    let page = $(".active").attr("data-page");
    sessionStorage.setItem(page, JSON.stringify(text));
    $("#design").html($("#newpage").html());
    init();

  });
  $(document).on("click", ".close", function () {

    onClose = true;
    if ($(".page").length == 1 || $(this).parent(".page").hasClass("page-edit")) {
      return false;
    }
    let nextPage = "#";
    let index = $(this).parent(".page").index();

    if (index == $(".page").length) {
      nextPage += $(".page").eq(index - 2).prop("id");
    } else {
      nextPage += $(".page").eq(index).prop("id");

    }

    if ($(this).parent(".page").hasClass("active")) {
      console.log(typeof nextPage);
      readPage(nextPage);
    }
    sessionStorage.removeItem($(this).parent(".page").attr("data-page"));
    $(this).parent(".page").remove();
  });
  $(document).on("dblclick", ".page", function () {
    currentPageName = $(this).find('.page-text').text();
    $(this).attr("contenteditable", "true");

    $(this).addClass("page-edit");
    $(this).focus();


  });
  $(document).on("keydown", ".page", function () {
    if (event.keyCode == 13) {
      $(this).trigger("blur");
      // changePageName(this);
      return false;
    }
  });
  $(document).on("blur", ".page", function () {
      changePageName(this);

   

  });
  $(document).on("click","#white-theme",function(){
    let white=' <link rel="stylesheet" type="text/css" media="screen" href="css/whitetheme.css" id ="whitestyle"/>'
    $('head').append(white);
    $('table').removeClass('table-dark');
  });
  $(document).on("click","#dark-theme",function(){
    $('#whitestyle').remove();
    $('table').addClass('table-dark');

  });
 
</script>


<template id="start-end">
  <div class="shape start-end ">
    <div class="con_anchor  anchor_top" data-point="top"></div>
    <div class="con_anchor  anchor_right" data-point="right"></div>
    <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
    <div class="con_anchor  anchor_left" data-point="left"></div>

    <svg>
      <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
    </svg>
    <div class="text text-center col-12  text-truncate mx-auto ">
      End
    </div>
  </div>
</template>
<template id="process">
  <div class="shape process ">
    <div class="con_anchor  anchor_top" data-point="top"></div>
    <div class="con_anchor  anchor_right" data-point="right"></div>
    <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
    <div class="con_anchor  anchor_left" data-point="left"></div>
    <svg>
      <path d="M 1 1 L 199 1 L 199 49 L 1 49 Z" />
    </svg>
    <div class="text text-center col-12  text-truncate mx-auto" contenteditable=false>
      Process
    </div>
  </div>
</template>
<template id="input">
  <div class="shape input">
    <div class="con_anchor  anchor_top" data-point="top"></div>
    <div class="con_anchor  anchor_right" data-point="right"></div>
    <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
    <div class="con_anchor  anchor_left" data-point="left"></div>
    <svg>
      <path d="M 1 15 L 199 1 L 199 49 L 1 49 Z" />
    </svg>
    <div class="text text-center col-12  text-truncate mx-auto" contenteditable=false>
      Input
    </div>
  </div>
</template>
<template id="decision">
  <div class=" shape decision ">
    <div class="con_anchor  anchor_top" data-point="top"></div>
    <div class="con_anchor  anchor_right" data-point="right"></div>
    <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
    <div class="con_anchor  anchor_left" data-point="left"></div>
    <svg>
      <path d="M 100 1 L 199 25 L 100 49 L 1 25 Z " />
    </svg>
    <div class="text text-center col-12  text-truncate mx-auto" contenteditable="false">
      Decision
    </div>
  </div>
</template>
<template id="display">
  <div class=" shape display ">
    <div class="con_anchor  anchor_top" data-point="top"></div>
    <div class="con_anchor  anchor_right" data-point="right"></div>
    <div class="con_anchor  anchor_bottom" data-point="bottom"></div>
    <div class="con_anchor  anchor_left" data-point="left"></div>
    <svg>
      <path d="M 1 25 L 15 49 H 180 C 205 49 ,205 1, 180 1 H 15 L 1,25  " />
    </svg>
    <div class="text text-center col-12  text-truncate mx-auto" contenteditable="false">
      Display
    </div>
  </div>
</template>
<template id="newpage">
  <div id="design-containment" style="position:fixed;"></div>
  <svg id="canvas">
    <defs>
      <marker id="arrowhead" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" />
      </marker>
    </defs>
  </svg>
  <div class=" shape start-end " id="start">
    <div class="con_anchor anchor_start anchor_top" data-point="top"></div>
    <div class="con_anchor anchor_start anchor_right" data-point="right"></div>
    <div class="con_anchor anchor_start anchor_bottom" data-point="bottom"></div>
    <div class="con_anchor anchor_start anchor_left" data-point="left"></div>
    <svg>

      <path d="M 25 1 C -5,1 -5,49 25,49 L 180 49 C 205,49 205,1 180,1 Z" />
    </svg>
    <div class="text text-center col-12  text-truncate mx-auto">
      Start
    </div>
  </div>
</template>
<template id="template-node-tool">
  <div class="container-node-tool">
    <button class="btn btn-flowdocode " id="delete-node"  data-toggle="tooltip" data-placement="bottom" title="Delete">
      <i class="fas fa-trash"></i>
  
    </button>
    <button class="btn btn-flowdocode " id="switch-decision"  data-toggle="tooltip" data-placement="bottom" title="Switch T/F">
      <i class="fas fa-sync"></i>
  
    </button>
    <!-- <button class="btn btn-flowdocode btn-node-tool node-tool-start"  id="change-node-start">
      <svg viewBox='25 -50 100 150' class='node-tool' >
        <path d="M 25 1 C -5,1 -5,49 25,49 L 120 49 C 155,49 155,0 120,1 Z"></path>
      </svg>
    </button> -->
    <button class="btn btn-flowdocode btn-node-tool node-tool-process" id="change-node-process"  data-change ='process'data-toggle="tooltip" data-placement="bottom" title="Process">
      <svg viewBox='25 -50 100 150' class='node-tool' >
        <path d="M 1 1 L 149 1 L 149 49 L 1 49 Z"></path>
      </svg>
    </button>
    
    <button class="btn btn-flowdocode btn-node-tool node-tool-input"id="change-node-input" data-change ='input' data-toggle="tooltip" data-placement="bottom" title="Input">
      <svg viewBox='25 -50 100 150' class='node-tool'>
        <path d="M 1 15 L 149 1 L 149 49 L 1 49 Z"></path>
      </svg>
    </button>
    <button class="btn btn-flowdocode btn-node-tool node-tool-decision"id="change-node-decision"data-change ='decision'  data-toggle="tooltip" data-placement="bottom" title="Decision">
      <svg viewBox='25 -50 100 150' class='node-tool'>
        <path d="M 75 1 L 150 25 L 75 50 L 1 25 Z "></path>
      </svg>
    </button>
    <button class="btn btn-flowdocode btn-node-tool node-tool-display"id="change-node-display" data-change ='display' data-toggle="tooltip" data-placement="bottom" title="Display">
      <svg viewBox='25 -50 100 150' class='node-tool'>
        <path d="M 1 25 L 15 49 H 120 C 155 49 ,155 1, 120 1 H 15 L 1,25  "></path>
      </svg>
    </button>
  
  
   </div>
</template>
<template id="next-node">
    <button class="btn btn-next-node next-up" data-way="top" >
      <i class="fas fa-long-arrow-alt-up fa-2x"></i>
    </button>
    <button class="btn btn-next-node next-right" data-way="right" >
      <i class="fas fa-long-arrow-alt-right fa-2x"></i>
    </button>
    <button class="btn btn-next-node next-left" data-way="left" >
      <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>
    <button class="btn btn-next-node next-bottom" data-way="bottom" >
      <i class="fas fa-long-arrow-alt-down fa-2x"></i>
    </button>
</template>


</html>